<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CBB754731A12973200F47A92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBB754A01A12973D00F47A92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBB754B21A12973D00F47A92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
